body{
	color: #474647;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	474647
}

h1,h2{
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
}

a{
	text-decoration: none;
	color: dark-green;
}

div{
	position: static;
}

.Header{
	margin: 60px;
}

#swan{
	border-radius: 50%;
	max-height: 300px;
	max-width: 300px;
}

.overall_card{
	display: flex;
	flex-direction: row;
	width: 2000px; /* set the width of your container */
	margin: 50px;
}

.image_card{
	padding-left: 300px;
}

.text_card{
	width: 600px;
	flex-direction: column;
	padding: 50px;
	padding-top: 5px;
}

@media (max-width: 855px){
	.total_page{
		 width: 700px;}
		}

@media (max-width: 720px){
	.total_page{
		 width: 500px;}
		}
@media (max-width: 540px){
	.total_page{
		 width: 300px;}
		}




		